<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
</head>

<title>Client</title>

<body style="font-family: 'PT Sans', sans-serif;">

  <div class="container" style="color: grey;">
      <!--Will place the data in GET or POST request here-->

  </div>

  <div class="container">
    <hr style="border: 5px solid grey;border-radius: 5px;" />
    <footer>
      <p>&copy; 2021 - Java HTTP Server - Harshit Soora</p>
    </footer>
  </div>

</body>

</html>